[user]
	name = tosu
	email = timo42@proton.me
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	s = status
	a = add
	ci = commit
	d = diff
[gpg]
	program = gpg
