TAB: menu-complete
set show-all-if-ambiguous on
set menu-complete-display-prefix on
set colored-completion-prefix on
set colored-stats on
set completion-query-items 0
set page-completions off

TAB: menu-complete
"\e[Z": menu-complete-backward

# "\e[A": history-substring-search-backward
# "\e[B": history-substring-search-forward
"\C-x\C-r": forward-search-history
